<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>

    <h1> Lista de nomes</h1>
    
    <ul>
        {% for person in persons %}
            <li>
                <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                <a href="{% url 'person_delete' person.id %}">Deletar</a>
            </li>
            
        {% endfor %}
    </ul>

    <br>

    <a href="{% url 'person_new' %}">Novo Cliente</a>

</body>
</html>